body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container {
  display: flex;
  background-color: white;
  flex-direction: column;
}

.container_form {
  display: flex;
  background-color: LightGray;
  flex-direction: column;
  padding: 10px;
  /* margin: 10px; */
}

.container_form input {
  margin: 5px;
  padding: 5px;
}

.container div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#suggestions {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#suggestions p {
  background-color: LightGray;
  margin: 1px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
}

#suggestions p:hover {
    background-color: gray;
    color: red;
}
