body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  /* background-color: DodgerBlue; */
  -direction: column;
}

.container_form {
  display: flex;
  background-color: LightGray;
  flex-direction: column;
  padding: 10px;
  /* margin: 10px; */
}

.container_form input {
  margin: 5px;
  padding: 5px;
}

.container div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
